
<div class="row">
  <div class="col s12 m5">
    <div class="card-panel blue-grey lighten-4">
      <h3>How to Play</h3>
        <span class="black-text">
          <p>asdfasdf</p>
        </span>
      </div>
    </div>
  </div>